[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-admin-thumbnails = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
