{% extends 'head.html' %}


{% block content %}
<div class="container separate-top">
    <div class="row">
        <div class="col-12 text-center">
            <h3>CHAT DE COMPRA</h3>
            <p class="mt-5">Haz click en el canal de tu preferencia para solicitar más <br> información o comprar con uno de nuestros acesores.</p>
            <div class="mt-5">
                <a href="https://api.whatsapp.com/send?phone=" class="btn btn-dark ">Whatsapp</a>
                <div class="btn btn-dark">
                    MESSENGER
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    